.guide_wrap {
  display: flex;
  color: #999;
  font-size: 0.3rem;
  .logo_img {
    width: 3rem;
    img {
      width: 100%;
    }
  }
  .app_info {
    .title {
      color: #000;
      font-size: 0.4rem;
    }
  }
}